* {
  font-family: monospace;
}

h1, h2, h3, h4, h5 {
  font-family: 'Passion One', cursive;
}

.header {
  cursor: default;
}

.header:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0px, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0px, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}